* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 2rem 0;
  margin: 0;
  background: #080c4d;
  color: rgba(255, 255, 255, 0.838);
  font-family: Roboto, sans-serif;
}

main {
  max-width: 1600px;
  width: 80%;
  background: #535ab5;
  margin: auto;
}
