<form class="dialog" name="seqDialog" ng>
  <input
    class="dialog-input"
    type="text"
    ng-model="global.editSeq.name"
    placeholder="Sequence name"
    autofocus
  />

  <input
    class="dialog-input"
    type="text"
    ng-model="global.editSeq.structure"
    placeholder="Structure"
  />

  <div class="error" id="notice" ng-show="global.seqError">
    Error: &nbsp;{{global.seqErrorMessage}}
  </div>

  <input type="hidden" ng-model="global.editSeq.rate" value="0" />

  <div class="dialog-buttons">
    <btn
      name="ok"
      id="ok"
      value="OK"
      click="editSequence(global.id, global.editSeq)"
    ></btn>
    <btn
      name="delete"
      id="delete"
      value="DELETE"
      click="remove(global.id)"
      disabled="global.deleteDisable"
    ></btn>
  </div>

  <div class="dialog-weights">
    <div class="weights-text-container">
      <input type="checkbox" id="show-weights" ng-model="global.showWeights" />
      <label for="show-weights">
        <p class="weights-text">
          Weights (demonstration only)
          <span
            class="arrow-weight"
            ng-class="{'arrow-weight-active': global.showWeights === true}"
            >▼</span
          >
        </p>
      </label>
    </div>
    <div ng-show="global.showWeights">
      <div class="weights-button">
        <span class="weight-name"> A: </span>
        <input
          class="dialog-input"
          type="number"
          ng-value="weights[0]"
          ng-blur="changeWeight($event, 0)"
        />
        <span class="weight-name"> G: </span>
        <input
          class="dialog-input"
          type="number"
          ng-value="weights[1]"
          ng-blur="changeWeight($event, 1)"
        />
        <span class="weight-name"> T:</span>
        <input
          class="dialog-input"
          type="number"
          ng-value="weights[2]"
          ng-blur="changeWeight($event, 2)"
        />
        <span class="weight-name"> C: </span>
        <span> {{1 - weights[0] - weights[1] - weights[2] | number:2}} </span>
      </div>
    </div>
  </div>
</form>
